# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.DS_Store
.idea
.mps/workspace.xml
classes_gen
source_gen
source_gen.caches
test_gen
test_gen.caches
scripts/build.xml
lib/de.itemis.mps.extensions/
.mps/libraries.xml
